@tailwind base;
@tailwind components;
@tailwind utilities;

.align-center {
    align-items: center;
    gap: 2px;
    justify-content: space-evenly;
}

.div_text{
    padding: 0 10px;
}

.product-card {
    padding: 16px;                         
    border: 1px solid #e5e7eb;  
    border-radius: 6px;         
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
    margin-bottom: 16px;        
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-image {
    width: 128px;              
    height: 128px;              
    object-fit: cover;        
    border-radius: 6px;        
    margin-bottom: 8px;        
  }
  
  .product-name {
    font-size: 18px;           
    font-weight: 600;         
    margin-bottom: 8px;
  }

  
  .favorite {
    color: #ef4444; 
  }
 
  .not-favorite {
    color: #d1d5db; 
  }

  .align-items {
    justify-content: center;
  }

  .space-even {
    justify-content: space-evenly;
    overflow: auto;
    max-width: 100%;
  }

  .product-card {
    padding: 16px;                       
    border: 1px solid #e5e7eb;  
    border-radius: 6px;         
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;    
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
